.hr-solid {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #008;
    margin: 1em 0;
    padding: 0; 
}
.hr-dotted {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px dotted #000;
    margin: 1em 0;
    padding: 0; 
    width: 112%
}
.row {
    padding-left: 0px;
    margin-left: 0px;
}

.bg-secondary{
    background-color: #e1e1e8;    
    padding: 4px; 
    margin:0 0 3px 18px;
    color: black;    
}
